{% extends 'base.html' %}
{% block title %}Hakkında{% endblock %}
{% block content %}
<h1 class="text-center mb-4">Hakkımızda</h1>
<div class="card bg-dark text-white shadow-sm">
    <div class="card-body">
        <p>Soru sormanız yeterli!</p>
        <p>Kullanıcı girişi, kayıt, güvenli şifre saklama ve bilgi arama özelliklerini içerir.</p>
        <p>Ahmet Burak YÜKSEK tarafından yapılmıştır.</p>
    </div>
</div>
<div class="text-center mt-3">
    <a href="/" class="btn btn-primary mt-2 me-2">Ana Sayfa</a>
    <a href="/logout" class="btn btn-danger mt-2">Çıkış Yap</a>
</div>
{% endblock %}
